<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>

<style>



<style>
.mytabmain {
    width: 100% !important;  /* 12.5% for 8 tabs wide */
    clear: 1 !important;  /* Prevent line break caused by ui-block-a */
}
.mytab {
    width: 20.00% !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}

h1 
{
	margin-top: 0px;
	margin-bottom: 0px;
    overflow: hidden;
	text-align: center;
	font-size:300%;
}
span {font-weight: bold;}
h3, h4 
{
	text-align: center;
}

#wrap 
{
   width:100%;
   margin:0 auto;
}

.col_1_piscine
{
	float: left; width: 50%;
	vertical-align:middle;
}
.col_2_piscine
{
	float: right; width: 50%;
	vertical-align:middle;
}

.col_1
{
	float: left; width: 33.33%;
}
.col_2
{ 
	display: inline-block; width: 33.33%;
}
.col_3
{
	float: right; width: 33.33%;
}

<!--
$(document).ready(function(){
    $("#accueil").click(function(){
        $("accueil").show();
    });
    $("#show").click(function(){
        $("p").show();
    });
});
-->

</style>
</style>

<script type=text/javascript>
    $(
		// When the PoolPump button is pressed (change)
		// do an ajax request to server to change PoolPump state
		function PoolPump() 
		{
			$('#flip-poolpump').change(function() 
			{
				$.getJSON('/_poolpump', {state: $('#flip-poolpump').val()});
			});
			$.getJSON('/_poolpumpstatus', function(data)
			{
				$('#flip-poolpump').val(data.poolpumpState).slider('refresh');
				setTimeout(function(){PoolPump();},500);
			});
		}
	);
	
	$(
		// When the PoolPump button is pressed (change)
		// do an ajax request to server to change PoolPump state
		function TEDPowerNow() 
		{
			$.getJSON('/_tedpowernow', function(data)
			{
				$("#tedPowerNow").text(data.tedPowerState);
				setTimeout(function(){TEDPowerNow();},1000);
			});
		}
	);

	$(
		// periodically (500ms) do an ajax request to get the button state
		// modify the span tag to reflect the state (pressed or not)
		// the state text comes from the JSON string returned by the server
		function button() 
		{
			$.getJSON('/_button', function(data)
				{
					$("#buttonState").text(data.buttonState);
					setTimeout(function(){button();},500);
				});
		}
	);
</script>
<!-- Simple JQuery Mobile page that display the button state on the breadoard -->
<!-- You can also change the LED state with the slider switch -->
<!-- The Raspberry Pi uptime is displayed in the footer (Jinja2 expands the template tag) -->

<!--ACCUEIL-->
<div id="accueil" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Accueil</h1>
		<a href="#" data-icon="refresh" class="ui-btn-right" data-iconpos="right" onClick="history.go(0)">Refresh</a>
    </div>
    <div data-role="content">
        <p>Accueil content</p>
		<span class="rightfloat">TED5000 Power Now:	<span id="tedPowerNow"></span>
		</span>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid" class="ui-btn-active">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--MAISON-->
<div id="maison" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Maison</h1>
		<a href="#" data-icon="refresh" class="ui-btn-right" data-iconpos="right" onClick="history.go(0)">Refresh</a>
    </div>
    <div data-role="content">
        <p>Maison content</p>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid" class="ui-btn-active">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--GARAGE-->
<div id="garage" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Garage</h1>
		<a href="#" data-icon="refresh" class="ui-btn-right" data-iconpos="right" onClick="history.go(0)">Refresh</a>
    </div>
    <div data-role="content">
        <p>Garage content</p>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid" class="ui-btn-active">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--PISCINE-->
<div id="piscine" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Piscine</h1>
		<a href="#" data-icon="refresh" class="ui-btn-right" data-iconpos="right" onClick="history.go(0)">Refresh</a>
    </div>
    <div data-role="content" id="wrap">
		
		<div class="col_1_piscine">
			<p><b>Contrôle de la piscine</b></p>
        	<form>
		    	<label for="flip-poolpump">Pompe Piscine:</label>
		    	<select name="flip-poolpump" id="flip-poolpump" data-role="slider" data-track-theme="b" data-theme="b">
			        <option value="off">Off</option>
			        <option value="on">On</option>
		    	</select>
			</form>
			<form>
		    	<label for="flip-thermopompe">Thermopompe Piscine:</label>
		    	<select name="flip-thermopompe" id="flip-thermopompe" data-role="slider" data-track-theme="b" data-theme="b">
		        	<option value="off">Off</option>
		        	<option value="on">On</option>
		    	</select>
			</form>
		</div>
		<div class="col_2_piscine">
			<p><b>Données de la piscine</b></p>

		</div>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid" class="ui-btn-active">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--ÉTANG-->
<div id="autres" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Autres</h1>
		<a href="#" data-icon="refresh" class="ui-btn-right" data-iconpos="right" onClick="history.go(0)">Refresh</a>
    </div>
    <div data-role="content">
        <p>Autres content</p>
		<form>
		    <label for="flip-pondpump">Pompe Étang:</label>
		    <select name="flip-pondpump" id="flip-pondpump" data-role="slider" data-track-theme="b" data-theme="b">
		        <option value="off">Off</option>
		        <option value="on">On</option>
		    </select>
		</form>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid" class="ui-btn-active">Autres</a></li>
            </ul>
        </div>
    </div>
</div>
