<!DOCTYPE html>
<html>
<head>
    <title>Domotique</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<script type="text/javascript" charset="utf-8">
$(document).ready(function()
{    
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function()
    {
        socket.emit('my event', {data: "Connected"});
    });

    socket.on('TED', function(data)
    {
        $("#tedPowerNow").text(data.tedPowerState);
        $("#tedVoltageNow").text(data.tedVoltageState);
        $("#tedCostNow").text(data.tedCostState);
        $("#tedCostTDY").text(data.tedCosttdyState);
    });
	
//-------------------------------------------------------------------------
// Refresh actions
//-------------------------------------------------------------------------	

    socket.on('pool_pump_status', function(data)
    {   
        $('#flip-poolpump').val(data.state).slider('refresh');
    });
	
	socket.on('pond_pump_status', function(data)
    {   
        $('#flip-pondpump').val(data.state).slider('refresh');
    });
	
//-------------------------------------------------------------------------
// Buttons actions
//-------------------------------------------------------------------------

    $('#flip-poolpump').change( function(data)
    {
        socket.emit('pool_pump', {state: $('#flip-poolpump').val()});
    });
	
	$('#flip-pondpump').change( function(data)
    {
        socket.emit('pond_pump', {state: $('#flip-pondpump').val()});
    });

});
</script>

<!--ACCUEIL-->
<div id="accueil" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Accueil</h1>
    </div>
    <div data-role="content">
        <p>Accueil content</p>
        <div id="log"></div>
		<p><span class="rightfloat">TED5000 Power Now : <span id="tedPowerNow"></span><span> kW</span></p>
		<p><span class="rightfloat">TED5000 Voltage Now : <span id="tedVoltageNow"></span><span> V</span></p>
		<p><span class="rightfloat">TED5000 Cost Now : <span id="tedCostNow"></span><span> $/h </span><span id="tedCostTDY"></span><span> $</span></</p>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid" class="ui-btn-active">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--MAISON-->
<div id="maison" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Maison</h1>
    </div>
    <div data-role="content">
        <p>Maison content</p>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid" class="ui-btn-active">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--GARAGE-->
<div id="garage" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Garage</h1>
    </div>
    <div data-role="content">
        <p>Garage content</p>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid" class="ui-btn-active">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--PISCINE-->
<div id="piscine" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Piscine</h1>
    </div>
    <div data-role="content" id="wrap">
		
		<div class="col_1_piscine">
			<p><b>Contrôle de la piscine</b></p>
        	<form>
		    	<label for="flip-poolpump">Pompe Piscine:</label>
		    	<select name="flip-poolpump" id="flip-poolpump" data-role="slider" data-track-theme="b" data-theme="b">
			        <option value="off">Off</option>
			        <option value="on">On</option>
		    	</select>
			</form>
			<form>
		    	<label for="flip-thermopompe">Thermopompe Piscine:</label>
		    	<select name="flip-thermopompe" id="flip-thermopompe" data-role="slider" data-track-theme="b" data-theme="b">
		        	<option value="off">Off</option>
		        	<option value="on">On</option>
		    	</select>
			</form>
		</div>
		<div class="col_2_piscine">
			<p><b>Données de la piscine</b></p>

		</div>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid" class="ui-btn-active">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

<!--ÉTANG-->
<div id="autres" data-role="page" data-theme="b">
    <div data-role="header">
        <h1>Autres</h1>
    </div>
    <div data-role="content">
        <p>Autres content</p>
		<form>
		    <label for="flip-pondpump">Pompe Étang:</label>
		    <select name="flip-pondpump" id="flip-pondpump" data-role="slider" data-track-theme="b" data-theme="b">
		        <option value="off">Off</option>
		        <option value="on">On</option>
		    </select>
		</form>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li class="mytab"><a href="#accueil" data-role="tab" data-icon="grid">Accueil</a></li>
                <li class="mytab"><a href="#maison" data-role="tab" data-icon="grid">Maison</a></li>
                <li class="mytab"><a href="#garage" data-role="tab" data-icon="grid">Garage</a></li>
				<li class="mytab"><a href="#piscine" data-role="tab" data-icon="grid">Piscine</a></li>
				<li class="mytab"><a href="#autres" data-role="tab" data-icon="grid" class="ui-btn-active">Autres</a></li>
            </ul>
        </div>
    </div>
</div>

</html>
