<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<style>
.mytab {
    width: 15% !important;  /* 12.5% for 8 tabs wide */
    clear: none !important;  /* Prevent line break caused by ui-block-a */
}
</style>
</head>

<body>
	<h1 align="center">Domotique</h1>
			<div data-role="tabs" id="tabs">
			<!--TAB GENERATOR-->
			<div data-role="navbar">
				<ul data-role="" data-inset="true">
					<li class="mytab"><a href="#Accueil" data-ajax="false">Accueil</a></li>
					<li class="mytab"><a href="#Maison" data-ajax="false">Maison</a></li>
					<li class="mytab"><a href="#Garage" data-ajax="false">Garage</a></li>
					<li class="mytab"><a href="#Piscine" data-ajax="false">Piscine</a></li>
					<li class="mytab"><a href="#Arrosage" data-ajax="false">Arrosage</a></li>
					<li class="mytab"><a href="#Autres" data-ajax="false">Autres</a></li>
				</ul>
			</div>
			
			<!--TAB MAISON-->
			<div id="Maison" class="ui-body-d ui-content">
				<h2>Maison</h2>
				<a href="#" class="ui-btn ui-btn-inline">Anchor</a>
				<button class="ui-btn ui-btn-inline">Button</button>
			</div>

			<!--TAB GARAGE-->
			<div id="Garage" class="ui-body-d ui-content">
				<h2>Garage</h2>
				<ul data-role="listview" data-inset="true">
					<li><a href="#">Acura</a></li>
					<li><a href="#">Audi</a></li>
					<li><a href="#">BMW</a></li>
					<li><a href="#">Cadillac</a></li>
					<li><a href="#">Ferrari</a></li>
				</ul>
			</div>

			<!--TAB PISCINE-->
			<div id="Piscine" class="ui-body-d ui-content">
				<h2>Piscine</h2>
				<form>
				    <label for="flip-2">Pompe Piscine:</label>
				    <select name="flip-2" id="flip-2" data-role="slider" data-track-theme="b" data-theme="b">
				        <option value="off">Off</option>
				        <option value="on">On</option>
				    </select>
				</form>
				<form>
				    <label for="flip-2">Thermopompe Piscine:</label>
				    <select name="flip-2" id="flip-2" data-role="slider" data-track-theme="b" data-theme="b">
				        <option value="off">Off</option>
				        <option value="on">On</option>
				    </select>
				</form>
			</div>
			
			<!--TAB ARROSAGE-->
			<div id="Arrosage" class="ui-body-d ui-content">
				<h2>Arrosage</h2>
			</div>

			<!--TAB AUTRES-->
			<div id="Autres" class="ui-body-d ui-content">
				<h2>Autres</h2>
				<a href="#" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left">Left</a>
				<a href="#" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-right">Right</a>
				<a href="#" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-top">Top</a>
				<a href="#" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-bottom">Bottom</a>
				<a href="#" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-notext">Icon only</a>
			</div>

	</div>
</body>
